div{
    
    max-width: 450px;
    max-height: 700px;
    position: fixed;
    inset: 0;
    margin: auto;
    box-sizing: border-box;
    background-color:#15273F;
    border-radius: 20px;
    padding: 2rem;
}
div:hover{
    transform: scale(1.2);
    transition: all 200ms;
}
body{
    background-color: #0D1A2D;
}
img{
    width: 100%;
    border-radius: 20px;
}
.avatar{
    max-width: 40px;
    margin-top: 5px;
    border: 2px solid white;
    margin-right: 22px;
}
h1{
    color: #FAFFFF;
    font-family: cursive;
}
.desc{
    color: #7287A7;
    font-family: cursive;
}
[eth]{
    color: #02CBC1;
    font-family: cursive;
}
[days]{
    color: #889EC3;
    font-family: cursive;

}
#create{
font-family: cursive;
color: #7588A6;
margin-top: 1px;

}